<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, inital-scale=1" />
		<title>Oslo Bysykkelstasjoner</title>

		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="style.css" />

		<script src="util.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="gbfs.js"></script>
	</head>
	<body>
		<div id="app">
			<h1 class="center-text">Oslo Bysykkelstasjoner &#x1F6B2;</h1>

			<noscript class="center-text big-text">
				Denne siden krever JavaScript. Vennligst aktiver det i din nettleser.
			</noscript>

			<div id="status" class="center-text">
				{{ status }}
				<span v-if="progress"> ({{ progress }})%</span>
			</div>

			<div class="error center-text big-text" v-if="error !== undefined">
				{{ error }}
			</div>

			<div id="stations" class="flex-grid">
				<div class="flex-col" v-for="station in stations">
					<div class="station-name center-text">{{ station.name }}</div>
					<div class="width50">Ledige låser:</div>
					<div class="width50">Ledige sykler:</div>
					<div class="width50 big-text">{{ station.num_docks_available }}</div>
					<div class="width50 big-text">{{ station.num_bikes_available }}</div>
				</div>
			</div>

			<div class="center-text">Sanntidsdata er levert av <a href="https://oslobysykkel.no/apne-data/sanntid">Oslo Bysykkel</a></div>
		</div>

		<script>
			init();
		</script>
	</body>
</html>
